<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}} 
        <p>{{content}}</p>
        <img src="/img/404.png" alt="404.png" width="650" height="300">
    </div>
    {{>footer}}
</body>
</html> 