<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{content}}</p>
        <img src="/img/mountains_solitude_house_124060_3840x2160.jpg" alt="mountains_solitude_house_124060_3840x2160.jpg" width="650" height="300">
    </div>
    {{>footer}}
</body>
</html>